<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlayerService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/PlayerService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlayerService" contract="MusicPlayerServices.IPlayerService"
                name="BasicHttpBinding_IPlayerService" />
            <endpoint address="net.tcp://localhost:2113/Zza" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPlayerService" contract="MusicPlayerServices.IPlayerService"
                name="NetTcpBinding_IPlayerService">
                <identity>
                    <userPrincipalName value="DESKTOP-32D7OLF\Kyrylo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>